body {
  background: url('../images/nightSF.jpg');
  background-size: 100%;
  color: black;
  font-family: 'Limelight', cursive;
}
#opacity {
  background: #f8bbd080;
}
h3 {
  color: #b71c1c;
}
th {
  font-size: 12px;
}
#opacity-input {
  background: #f44336cc;
}
#submit {
  text-transform: lowercase;
}
